html
{
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a1
{
    cursor: pointer;
    color: #007595!important;
    
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.div1
{
    float:right;
    padding-left: 10px;
    margin-right:-20px;

}
.a2
{
    cursor: pointer;
    color:#4d6be2;
   
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}
.a1:hover
{
    color:#f89d37!important;
}
.a1:hover
{
    text-decoration: underline;
}
.a2:hover
{
    color: #476a75;
    text-decoration-line:none ;
}
#navbarSupportedContent
{
    text-align: center;
    margin-left: 0px;
    margin-right: 20px;
}
.E 
{
    font-weight: bold;
    font-size: 34px;
    font-style: italic;
    color: navy;
}
.c 
{
    font-weight: bold;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
}

